{{ $id := .Get 0 }}
{{ $imgData := index .Site.Data.images $id }}

{{ if $imgData }}
  {{/* 1. Get the original link from your YAML */}}
  {{ $driveLink := $imgData.link }}

  {{/* 2. Extract the FILE ID by removing the first part of the URL */}}
  {{/* We strip away "https://drive.google.com/uc?export=view&id=" */}}
  {{ $fileID := replace $driveLink "https://drive.google.com/uc?export=view&id=" "" }}

  {{/* 3. Create the 'Magic Link' which works directly */}}
  {{ $magicLink := printf "https://lh3.googleusercontent.com/d/%s" $fileID }}

  <figure>
    <img src="{{ $magicLink }}" 
         alt="{{ $imgData.caption }}" 
         loading="lazy"
         style="max-width: 100%; height: auto;"
         referrerpolicy="no-referrer">
         
    {{ with $imgData.caption }}<figcaption>{{ . }}</figcaption>{{ end }}
  </figure>

{{ else }}
  <p style="color:red; font-weight:bold;">Error: Image ID {{ $id }} not found.</p>
{{ end }}
