{{ $id := .Get 0 }}
{{ $imgData := index .Site.Data.images $id }}

{{ if $imgData }}
  {{/* 1. Get the link from YAML */}}
  {{ $driveLink := $imgData.link }}

  {{/* 2. Extract ID */}}
  {{ $cleanLink := replace $driveLink "https://drive.google.com/uc?export=view&id=" "" }}
  
  {{/* 3. Create Magic Link with SIZE PARAMETER */}}
  {{/* 's0' tells Google to return the original size (no compression) */}}
  {{ $magicLink := printf "https://lh3.googleusercontent.com/d/%s=s0" $cleanLink }}

  <figure>
    <img src="{{ $magicLink }}" 
         alt="{{ $imgData.caption }}" 
         loading="lazy"
         style="max-width: 100%; height: auto;"
         referrerpolicy="no-referrer">
         
    {{ with $imgData.caption }}<figcaption>{{ . }}</figcaption>{{ end }}
  </figure>

{{ else }}
  <p style="color:red; font-weight:bold;">Error: Image ID {{ $id }} not found.</p>
{{ end }}
